.btn-primary{
    background: linear-gradient(to left, slateblue, skyblue);
    color: snow;
    border-radius: 2px;
    border: none;
    width: 100%;
    font-size: 18px;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 500;
}